<div class="container-fluid">
    <div class="row col-12" id="wbdv-top-nav">
        <div class="col-lg-10 col-sm-8" id="wbdv-course-title">CS5610 - Web Dev</div>
        <div class="col-lg-2 col-sm-2">
            <button type="button" class="btn btn-success" id="wbdv-add-widget-button">Add Widget</button>
        </div>
    </div>
    <div class="row">
        <div class="col-2 wbdv-content-panel" id = "wbdv-module-list-container">
            <ul class="nav flex-column nav-pills" >
                <a class="nav-link active wbdv-module-selector wbdv-module-list-item" href="#" >Module 1 - jQuery</a>
                <a class="nav-link wbdv-module-list-item" href="#">Module 2 - React</a>
                <a class="nav-link wbdv-module-list-item" href="#">Module 3 - Redux</a>
                <a class="nav-link wbdv-module-list-item" href="#">Module 4 - Respect</a>
            </ul>
        </div>
        <div class="col-10 wbdv-content-panel">

            <ul class="nav nav-tabs">
                <li class="nav-item wbdv-lesson-link">
                    <a class="nav-link active " href="#">Lesson 1</a>
                </li>
                <li class="nav-item wbdv-lesson-link">
                    <a class="nav-link" href="#">Lesson 2</a>
                </li>
                <li class="nav-item wbdv-lesson-link">
                    <a class="nav-link" href="#">Lesson 3</a>
                </li>
            </ul>
            <br />
            <div class="row col-12">
                <ul class="nav nav-pills col-lg-5 col-sm-12">
                    <li class="nav-item wbdv-topic-link">
                        <a class="nav-link active" href="#">Topic 1</a>
                    </li>
                    <li class="nav-item wbdv-topic-link">
                        <a class="nav-link" href="#">Topic 2</a>
                    </li>
                    <li class="nav-item wbdv-topic-link">
                        <a class="nav-link" href="#">Topic 3</a>
                    </li>
                </ul>
            </div>
            <div class = "row col-12 container" id = "wbdv-widget-container"> <!--  This is where widgets should be rendered  -->
                <TopicPills/>
                <LinkWidget/>
                <ImageWidget/>
                <HeadingWidget/>
                <ParagaphWidget/>
                <ListWidget/>
            </div>
        </div>
    </div>
</div>