:root {
    --pg-bg-color: #d0e1e1;
}

body{
    background: var(--pg-bg-color);
}

#wbdv-title{
    font-size: 20px;
}



#wbdv-top-nav{
    background: #6600cc;
    color: white;
}

#wbdv-page-container{
    background: var(--pg-bg-color);
}

#wbdv-new-course-title{
    background-color: #ccccff;
}

/*
#wbdv-add-button {
  position: absolute;
  left: 0px;
  padding: 5px;
} */

#wbdv-table-container{
    background: white;
}

#wbdv-page-background{
    background: var(--pg-bg-color);
}

